<div class="row">
                <div class="col-sm-12">
                    <div class="navigator">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        Pokedex
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        Life
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        Twin Stick
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        Space 4X
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        Underhive
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        item
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        item
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        item
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card card-white">
                                    <div class="card-body">
                                        item
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>