 <div class="row">
                <div class="col-sm-4">
                    <div class="card card-white">
                        <div class="card-body" id="sequence">
                            <button>Prev</button>
                            <button>Next</button>
                            <ul>
                                <li>Name</li>
                            </ul>
                            <button>Roll</button>
                            <button>Sort</button>
                            <button>Reset</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-white">
                        <div class="card-body">
                            <div class="combatant-profile">
                                <div class="row">
                                    <div class="col-sm-9 outlined">

                                    </div>
                                    <div class="col-sm-1  outlined">

                                    </div>
                                    <div class="col-sm-1  outlined">

                                    </div>
                                    <div class="col-sm-1  outlined">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card-white">
                        <div class="card-body">
                            monsters
                        </div>
                    </div>
                </div>
            </div>