<div class="screen">
        <div class="top">
            <div class="pk-top-bar">
                {{ id }} {{ name }}
            </div>
            <div class="pk-left">
                <div>{{ nickname }} Lv. {{ lv }}</div>
                <ul class="caught-stats">
                    <li>
                        <div class="name">Exp.</div>
                    </li>
                    <li>
                        <div class="name">HP</div>
                        <div class="value">25</div>
                        <div class="filled">
                            <div class="bar"></div>
                        </div>
                    </li>
                    <li>
                        <div class="name">Attack</div>
                        <div class="value">25</div>
                        <div class="filled">
                            <div class="bar"></div>
                        </div>
                    </li>
                    <li>
                        <div class="name">Defense</div>
                        <div class="value">25</div>
                        <div class="filled">
                            <div class="bar"></div>
                        </div>
                    </li>
                    <li>
                        <div class="name">Sp. Atk</div>
                        <div class="value">25</div>
                        <div class="filled">
                            <div class="bar"></div>
                        </div>
                    </li>
                    <li>
                        <div class="name">Sp. Def</div>
                        <div class="value">25</div>
                        <div class="filled">
                            <div class="bar"></div>
                        </div>
                    </li>
                    <li>
                        <div class="name">Speed</div>
                        <div class="value">25</div>
                        <div class="filled">
                            <div class="bar"></div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="pk-right">
                <div class="tab-menu">
                    <div class="tab-row">
                        <div class="tab">Info</div>
                        <div class="tab">Stats</div>
                        <div class="tab">Moves</div>
                    </div>
                </div>
                <div class="sprite charizard"></div>
                <div class="types">
                    <div class="type fire">Fire</div>
                    <div class="type flying">Flying</div>
                </div>
            </div>
        </div>
    <!--<div class="bottom">-->
            <!--<div class="pk-top-bar">-->
                <!--Pokedex-->
            <!--</div>-->
            <!--<div>-->
                <!--<select>-->
                    <!--<option>Type</option>-->
                <!--</select>-->
                <!--<select>-->
                    <!--<option>Region</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div>-->
                <!--<input type="text" />-->
            <!--</div>-->
            <!--<ul class="pk-menu">-->
                <!--<li>001 Bulbasaur</li>-->
                <!--<li>002 Ivysaur</li>-->
                <!--<li>003 Venusaur</li>-->
                <!--<li>004 Charmander</li>-->
                <!--<li>005 Charmeleon</li>-->
                <!--<li>006 Charizard</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>